<header aria-label="Get started" id="homepage-header" class="docs-header-background" tabindex="-1" style="outline: none;">
  <div class="docs-header-section">
    <div class="docs-header-headline">
      <h1 class="mat-h1">EliteTracker</h1>
      <h2>Discord Bot for keeping track of all Elite Dangerous informations</h2>
    </div>
    <div class="docs-header-start">
      <a mat-raised-button target="_blank" href="https://discord.com/oauth2/authorize?client_id=707978498764964594&scope=bot&permissions=51264">Invite</a>
    </div>
  </div>
</header>
<main class="docs-homepage-promo">
  <div class="docs-homepage-row">
    <div class="docs-homepage-promo-img">
      <img src="assets/highsell-announcements.png">
    </div>
    <div class="docs-homepage-promo-desc">
      <h2>High selling station announcements</h2>
      <p>Define a commodity with the threshold of the sell price, and if a station will be broadcast over EDDN which is above your threshold then you get an announcement</p>
    </div>
  </div>
  <div class="docs-homepage-row docs-homepage-reverse-row">
    <div class="docs-homepage-promo-img">
      <img src="assets/hotslots-list.png">
    </div>
    <div class="docs-homepage-promo-desc">
      <h2>Overlap search and reporting</h2>
      <p>List all known hotspot overlaps for a given commodity or nearby a given location (WIP), with detailed informations about the overlap and where to drop</p>
      <p>Are you somewhere and found new hotspot overlap, report them!</p>
    </div>
  </div>
  <div class="docs-homepage-row">
    <div class="docs-homepage-promo-img">
      <img src="assets/bgs-tick.png">
    </div>
    <div class="docs-homepage-promo-desc">
      <h2>Background simulation info</h2>
      <p>Check when the last background simulation tick happened, to guess when the next one is going to happen</p>
    </div>
  </div>
  <div class="docs-homepage-row docs-homepage-reverse-row">
    <div class="docs-homepage-promo-img">
      <img src="assets/work-in-progress.png">
    </div>
    <div class="docs-homepage-promo-desc">
      <h2>Fleetcarrier tracking</h2>
      <p>Get detailed information about where the carrier currently is and what you can sell or buy on the market</p>
    </div>
  </div>
</main>
