<header aria-label="Get started" id="homepage-header" class="docs-header-background" tabindex="-1" style="outline: none;">
  <div class="docs-header-section">
    <div class="docs-header-headline">
      <h1 class="mat-h1">EliteTracker</h1>
      <h2>Discord Bot for keeping track of all Elite Dangerous informations</h2>
    </div>
    <div class="docs-header-start">
      <a mat-raised-button target="_blank" href="https://discord.com/oauth2/authorize?client_id=707978498764964594&scope=bot&permissions=51264">Invite</a>
    </div>
  </div>
</header>
<main class="docs-homepage-promo">
  <div class="docs-homepage-row">
    <div class="docs-homepage-promo-img">
      <img src="assets/highsell-announcements.png">
    </div>
    <div class="docs-homepage-promo-desc">
      <h2>High selling station announcements</h2>
      <p>Define a commodity with the threshold of the sell price, and if a station will be broadcast over EDDN which is above your threshold then you get an announcement</p>
    </div>
  </div>
</main>
