.commands {
  display: flex;
  flex-wrap: wrap;
  align-items: start;

  .command {
    width: 400px;
    margin-right: 20px;
    margin-bottom: 20px;

    code {
      background: #2f3136;
      border: 1px solid #202225;
      border-radius: 4px;
    }
  }
}
